@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Esta aplicação não utiliza dados reais, por favor não insira nenhuma informação sensível. </p>
<p>A aplicação tem apenas propósitos educacionais</p>
